<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Workout Week</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_week.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <script>
        const workout_days = {{ workout_days|tojson }};
    </script>
</head>
<body>
    <div class="routine">
        <div class="create">
            <div class="formpart">
                <div class="add_day">
                    <h2>Add a Day</h2>
                    <select id="day-select">
                        <option value="" disabled selected>Choose a Day</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>
                    <input type="text" id="title" name="title" placeholder="Create Workout Title" maxlength="50">
                    <button type="button" id="add_day_button">Add Day</button>
                </div>
    
                <div class="show_day">
                    <h2>Your Routine</h2>
                     <ul class="day-list"></ul>
                </div>
            </div>
            <button type="button" id="create_routine"><h2>Create Routine</h2></button>
        </div>
        <div id="error-modal" class="modal" style="display: none;">
            <div class="modal-content">
                <p id="error-message"></p>
                <button id="error-ok-button" class="modal-button">OK</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/add_week.js') }}"></script>
</body>
</html>