<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic Weapons Web Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome {{ username }} to Academic Weapons</h1>
            <h2>Your Hub for Knowledge & Success</h2>
        </header>

        <main>
            <p>This is the launchpad for your academic journey. We provide the tools, resources, and insights to arm you with knowledge for success!</p>
        </main>

        <footer>
            <p>© 2024 Academic Weapons. Aim high, hit your targets.</p>
        </footer>
    </div>
    <button id="logout" type="button">Logout</button>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
