<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="welcome">
        <p class="welcometitle">Welcome Back<br>to<br>Academic Weapons</p>
    </div>
    <div class="loginpage">
        <form class="loginForm" enctype="application/x-www-form-urlencoded">
            <p class="title">Login Now</p>
            <input type="text" id="username" name="username" placeholder="Enter Your Username" required>
            <input type="password" id="password" name="password" placeholder="Enter Your Password" required>
            <button id="login" type="button">Login</button>
            <div id="errormessage"></div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>