<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ username }}'s Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profilePage.css') }}">
</head>
<body>
    <div class="profile-container">
        <nav class="sidebar">
            <h1 class="logo">RoutineFlex</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Explore</a></li>
                <li><a href="#">Messages</a></li>
                <li><a href="#">Notifications</a></li>
                <li><a href="#">Create</a></li>
            </ul>
            <button id="logout" class="logout-btn">Logout</button>
        </nav>


        <!-- Main Content Area -->
        <div class="profile-section">
            <!--Will contain the profile information, picture, bio, username, etc..-->
            <img src="{{ profilePictureUrl }}" alt="{{ username }}'s Profile Picture" class="profile-picture">

            <div class="profile-Summary">
                <button class="followOredit-button" onclick= "FollowOrEdit()">{{ FollowOrEdit }}</button>
                <div class="profile-details">
                    <h1 class="userName">{{ username }}</h1>
                    <p class="user-bio">{{ BIO_GOES_HERE }}</p>
                    <div class="followersCount">
                        <p>Followers: {{ Followers }}</p>
                        <p>Following: {{ Following }}</p>
                    </div>
                </div>
            </div>


            <!--This will div will contain all the user activites, posts, comments, etc..-->
            <div class="user-activity">
                <div class="posts">
                    <p>POST WILL GO HERE</p>
                </div>

            </div>
        </div>




        <!-- will be located on the right side of the screen -->
        <div class="friends">
            <h1>Friends:</h1>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/profilePage.js') }}"></script>
</body>
</html>