<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ username }}'s Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profilePage.css') }}">
</head>
<body>

    <!-- Main Content Area -->
    <div class="profile-section">

        <!--Will contain the profile information, picture, bio, username, etc..-->
        <div class="profile-Summary">

        </div>


        <!--This will div will contain all the user activites, posts, comments, etc..-->
        <div class="user-activity">

        </div>
    </div>






    <!-- will be located on the right side of the screen -->
    <div class="friends">
        <h1>Friends:</h1>
    </div>
</body>
</html>