<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="registpage">
        <form class="registrationForm" enctype="application/x-www-form-urlencoded">
            <p class="title">Create Your Account</p>
            <input type="text" id="username" name="username" pattern="^\S+$" placeholder="Enter Username" required>
            <input type="password" id="password" name="password" placeholder="Create a Password" required>
            <ul class="password-rules">
                <li id="length" class="rule">A minimum of 10 characters</li>
                <li id="uppercase" class="rule">Contains an uppercase letter</li>
                <li id="lowercase" class="rule">Contains a lowercase letter</li>
                <li id="number" class="rule">A minimum of one number</li>
                <li id="special" class="rule">A minimum of one special character</li>
            </ul>
            <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm new Password" required>
            <button id="create" type="button">Create Account</button>
            <div id="errormessage"></div>
        </form>
        <p>Already Have an Account?</p>
        <button id='createaccount' type="button" onclick="LoginPage()" class="SwapPage">Login</button>
    </div>
    <div class="welcome">
        <p class="welcometitle">Welcome <br>to <br>RoutineFlex</p>
    </div>

    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>
</html>